  .sidebar > .sidebar-links > li:not(:first-child) {
    margin-top: 0px;
  }
  .theme-default-content:not(.custom){
    max-width: 780px;
    margin: 0 auto;
    padding: 2rem 2.5rem;
  }

  .page-edit{
    max-width: 780px !important;
    margin: 0 auto !important;
    padding: 2rem 2.5rem !important;
  }

  .page-nav{
    max-width: 780px !important;
    margin: 0 auto !important;
    padding: 2rem 2.5rem !important;
  }

  .page-title{
    display: none;
  }

  .gt-container{
    max-width: 780px;
    margin: 0 auto;
  }

  .gt-header-textarea {
    height: 88px;
  }

