.google-auto-placed{
  max-width: 740px !important;
  margin: 0 auto !important;
}
.last-updated{
  margin-top 10px;
}

.sidebar>.sidebar-links {
  padding-top: 0.3rem !important;
  padding-right: 0 !important;
  padding-bottom: 1.5rem !important;
  padding-left: 0 !important;
}
